<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title>Taco Cloud</title>
</head>
<body>
    <div class="px-4 my-2 text-center">
        <img class="d-block mx-auto mb-1" width="250" height="250" th:src="@{/images/TacoCloud.jpg}"/>
        <h1 class="display-5 fw-bold text-body-emphasis">Design your taco!</h1>
    </div>

    <div >
        <form th:class="'needs-validation' + ${#fields.hasAnyErrors() ? 'needs-validation was-validated' : ''}" method="POST" th:object="${taco}" novalidate> 
            <div class="container">
                <div class="row mb-3 ">
                    <div class="col-4" id="wraps">
                        <h3 class="mb-3">Designate your wrap:</h3>
                        <div th:each="ingredient : ${wrap}">
                            <input class="form-check-input" type="checkbox" th:field="*{ingredients}" th:value="${ingredient.id}"/>
                            <label class="form-check-label" th:text="${ingredient.name}">INGREDIENT</label>
                        </div>
                    </div>
                    <div class="col-4" id="proteins">
                        <h3 class="mb-3">Pick your protein:</h3>
                        <div th:each="ingredient : ${protein}">
                            <input class="form-check-input" th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
                            <label class="form-check-label" th:text="${ingredient.name}">INGREDIENT</label>
                        </div>
                    </div>
    
                    <div class="col-4" id="cheeses">
                        <h3 class="mb-3">Pick your cheese:</h3>
                        <div th:each="ingredient : ${cheese}">
                            <input class="form-check-input" th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
                            <label class="form-check-label" th:text="${ingredient.name}">INGREDIENT</label>
                        </div>
                    </div>
                </div>
    
                <div class="row mb-3 ">
                    <div class="col-4" id="veggies">
                        <h3 class="mb-3">Determine your veggies:</h3>
                        <div th:each="ingredient : ${veggies}">
                            <input class="form-check-input" th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
                            <label class="form-check-label" th:text="${ingredient.name}">INGREDIENT</label>
                        </div>
                    </div>
        
                    <div class="col-4" id="sauces">
                        <h3 class="mb-3">Select your sauce:</h3>
                        <div th:each="ingredient : ${sauce}">
                            <input class="form-check-input" th:field="*{ingredients}" type="checkbox" th:value="${ingredient.id}"/>
                            <label class="form-check-label" th:text="${ingredient.name}">INGREDIENT</label>
                        </div>
                    </div>
                </div>

                <div class="text-center" th:if="${#fields.hasErrors('ingredients')}">
                    <div class="text-danger"
                        th:errors="*{ingredients}">ingredients Error</div>
                </div>
    
                <div class="row mb-3 ">
                    <h3>Name your taco creation:</h3>
                    <div class="col-4">
                        <input type="text" class="form-control" th:field="*{name}" pattern="\w{5, 15}" required/>
                        <div class="text-danger"
                            th:if="${#fields.hasErrors('name')}"
                            th:errors="*{name}"></div>
                    </div>
                </div>
                
                <div class="text-center">
                    <button class="w-25 btn btn-primary btn-lg" type="submit">Submit Your Taco</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>