<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taco Cloud</title>
</head>
<body>
    <h1>Welcome to...</h1>

    <img th:src="@{/images/TacoCloud.jpg}"/>

    <a th:href= "@{/design}" id="another">Design taco</a><br>
    <a th:href= "@{/orders/current}" id="order">Order</a><br>
    <a th:href= "@{/login}" id="order">Sign in</a><br>

</body>
</html>