<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <title>Taco Cloud</title>
    </head>
    <body>
        <main class="w-25 m-auto">
            <form class="mt-5" method="POST" th:action= "@{/login}" id="loginForm">
                <img class="d-block mx-auto mb-5" width="250" height="250" th:src="@{/images/TacoCloud.jpg}"/>
                <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
            
                <div class="form-floating">
                  <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                  <label for="username">Username</label>
                </div>
                <div class="form-floating mt-1">
                  <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                  <label for="password">Password</label>
                </div>

                <div class="text-danger mt-1" th:if="${param.error}">Unable to login. Check your username and password</div>
            
                <div class="form-check text-start mt-3 mb-2 d-flex align-items-center">
                    <div class="w-100 me-3">
                        <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Remember me
                        </label>
                    </div>

                    <a class="icon-link mb-1" th:href= "@{/registration}">Register</a>
                </div>
                <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
            </form>
        </main>
    </body>
</html>